<launch>
  <group ns="smart2_01">

    <include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch">
	<arg name="dev" value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
	<arg name="laser_frame" value="/smart2_01/base_scan"/>
    </include>



    <include file="$(find ca_driver)/launch/create_1.launch">
	<arg name="desc" value="false"/>
    </include>

    <include file="$(find hw_interface)/launch/hw_interface.launch"/>

    <include file="$(find smart2_description)/launch/smart2_description.launch">
	<arg name="robot_name" value="smart2_01"/>
    </include>


    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>

   <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.2 0 0 0 1 /smart2_01/base_link /smart2_01/base_scan 100" />
   <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0.12 0 0.095 0.5 -0.5 0.5 -0.5 /smart2_01/base_link /smart2_01/camera_link 100" />

  </group>
</launch>
